body{
    min-width: 1157px;
}

.gray-bkg{
    background: #eeeeee;
}

.logo{
    width: 160px;
    margin-top: 49px;
}

.intro-block{
    display: flex;
}

.intro-block-header{
    font-family: "Roboto", serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 1;
    margin-top: 78px;
}

.intro-block-subheader{
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 25px;
}

.intro-block-button{
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background: #FB565A;
    color: white;
    border: 0px;
    height: 50px;
    width: 240px;
    cursor: pointer;
    margin-top: 38px;
}

.centered-block{
   margin: 0 auto;
    width:1157px; 
}
    
.product-img{
    margin-top: 80px;
}

.product-header{
    font-family: "Roboto", serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 25px;
    text-transform: uppercase;
}

.product-text{
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.product-btn{
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background: #FB565A;
    color: white;
    border: 0px;
    height: 50px;
    width: 160px;
    cursor: pointer;
    margin-top: 32px;
}